[build]
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/admin/site-properties"
  to = "/.netlify/functions/api/admin/site-properties"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
